<a href="https://colab.research.google.com/github/RANJITHMUTHUSAMY005/NUTRITION-PARADOX/blob/main/paradox.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **ADULT OBESITY**

In [ ]:
#adult obesity
import requests
url = "https://ghoapi.azureedge.net/api/NCD_BMI_30C"
result = requests.get(url)
data_1=result.json()

In [ ]:
import pandas as pd
df=pd.DataFrame(data_1['value'])
df.head()

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,272,NCD_BMI_30C,COUNTRY,KHM,YEAR,WPR,Western Pacific,SEX,SEX_BTSX,2001,...,None,1.0 [0.8-1.3],0.981696,0.756741,1.274868,None,2024-02-29T16:06:41.017+01:00,2001,2001-01-01T00:00:00+01:00,2001-12-31T00:00:00+01:00
1,371,NCD_BMI_30C,COUNTRY,IRN,YEAR,EMR,Eastern Mediterranean,SEX,SEX_MLE,2020,...,None,17.5 [15.8-19.2],17.487641,15.793777,19.245727,None,2024-02-29T16:06:41.017+01:00,2020,2020-01-01T00:00:00+01:00,2020-12-31T00:00:00+01:00
2,854,NCD_BMI_30C,COUNTRY,TJK,YEAR,EUR,Europe,SEX,SEX_FMLE,1995,...,None,7.9 [5.8-10.4],7.904842,5.783271,10.387149,None,2024-02-29T16:06:41.017+01:00,1995,1995-01-01T00:00:00+01:00,1995-12-31T00:00:00+01:00
3,1110,NCD_BMI_30C,COUNTRY,WSM,YEAR,WPR,Western Pacific,SEX,SEX_BTSX,2003,...,None,46.6 [44.6-48.7],46.623287,44.616863,48.697469,None,2024-02-29T16:06:41.017+01:00,2003,2003-01-01T00:00:00+01:00,2003-12-31T00:00:00+01:00
4,1264,NCD_BMI_30C,COUNTRY,NIU,YEAR,WPR,Western Pacific,SEX,SEX_BTSX,2000,...,None,54.6 [49.4-59.8],54.643196,49.435765,59.770763,None,2024-02-29T16:06:41.017+01:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00

In [ ]:
df['age_group']='adult'
df

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,Dim1,TimeDim,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,272,NCD_BMI_30C,COUNTRY,KHM,YEAR,WPR,Western Pacific,SEX,SEX_BTSX,2001,...,1.0 [0.8-1.3],0.981696,0.756741,1.274868,None,2024-02-29T16:06:41.017+01:00,2001,2001-01-01T00:00:00+01:00,2001-12-31T00:00:00+01:00,adult
1,371,NCD_BMI_30C,COUNTRY,IRN,YEAR,EMR,Eastern Mediterranean,SEX,SEX_MLE,2020,...,17.5 [15.8-19.2],17.487641,15.793777,19.245727,None,2024-02-29T16:06:41.017+01:00,2020,2020-01-01T00:00:00+01:00,2020-12-31T00:00:00+01:00,adult
2,854,NCD_BMI_30C,COUNTRY,TJK,YEAR,EUR,Europe,SEX,SEX_FMLE,1995,...,7.9 [5.8-10.4],7.904842,5.783271,10.387149,None,2024-02-29T16:06:41.017+01:00,1995,1995-01-01T00:00:00+01:00,1995-12-31T00:00:00+01:00,adult
3,1110,NCD_BMI_30C,COUNTRY,WSM,YEAR,WPR,Western Pacific,SEX,SEX_BTSX,2003,...,46.6 [44.6-48.7],46.623287,44.616863,48.697469,None,2024-02-29T16:06:41.017+01:00,2003,2003-01-01T00:00:00+01:00,2003-12-31T00:00:00+01:00,adult
4,1264,NCD_BMI_30C,COUNTRY,NIU,YEAR,WPR,Western Pacific,SEX,SEX_BTSX,2000,...,54.6 [49.4-59.8],54.643196,49.435765,59.770763,None,2024-02-29T16:06:41.017+01:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20785,10279237,NCD_BMI_30C,COUNTRY,LTU,YEAR,EUR,Europe,SEX,SEX_BTSX,2013,...,27.4 [24.0-30.9],27.397758,24.044071,30.898288,None,2024-02-29T16:06:41.017+01:00,2013,2013-01-01T00:00:00+01:00,2013-12-31T00:00:00+01:00,adult
20786,10279929,NCD_BMI_30C,COUNTRY,ARM,YEAR,EUR,Europe,SEX,SEX_BTSX,1997,...,14.0 [12.1-15.9],13.950612,12.098271,15.933628,None,2024-02-29T16:06:41.017+01:00,1997,1997-01-01T00:00:00+01:00,1997-12-31T00:00:00+01:00,adult
20787,10281353,NCD_BMI_30C,COUNTRY,ERI,YEAR,AFR,Africa,SEX,SEX_MLE,2011,...,1.2 [0.8-1.8],1.202328,0.767176,1.784962,None,2024-02-29T16:06:41.017+01:00,2011,2011-01-01T00:00:00+01:00,2011-12-31T00:00:00+01:00,adult
20788,10281469,NCD_BMI_30C,COUNTRY,VCT,YEAR,AMR,Americas,SEX,SEX_MLE,2003,...,10.2 [7.1-14.0],10.207333,7.093262,13.982071,None,2024-02-29T16:06:41.017+01:00,2003,2003-01-01T00:00:00+01:00,2003-12-31T00:00:00+01:00,adult
20789,10281565,NCD_BMI_30C,COUNTRY,TUN,YEAR,EMR,Eastern Mediterranean,SEX,SEX_BTSX,2007,...,18.6 [17.0-20.3],18.639244,17.021045,20.305818,None,2024-02-29T16:06:41.017+01:00,2007,2007-01-01T00:00:00+01:00,2007-12-31T00:00:00+01:00,adult

# **CHILD OBESITY**

In [ ]:
#children obesity
import requests
url = "https://ghoapi.azureedge.net/api/NCD_BMI_PLUS2C"
result = requests.get(url)
data_2=result.json()

In [ ]:
import pandas as pd
df_child_obese=pd.DataFrame(data_2['value'])
df_child_obese.head()

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,178,NCD_BMI_PLUS2C,COUNTRY,URY,AMR,YEAR,Americas,SEX,SEX_BTSX,2014,...,None,16.6 [14.1-19.3],16.599445,14.139628,19.260336,None,2024-02-29T16:06:41.017+01:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00
1,564,NCD_BMI_PLUS2C,COUNTRY,AND,EUR,YEAR,Europe,SEX,SEX_MLE,1993,...,None,6.6 [1.7-15.5],6.573471,1.651655,15.450512,None,2024-02-29T16:06:41.017+01:00,1993,1993-01-01T00:00:00+01:00,1993-12-31T00:00:00+01:00
2,588,NCD_BMI_PLUS2C,COUNTRY,DOM,AMR,YEAR,Americas,SEX,SEX_FMLE,1995,...,None,5.2 [1.5-11.9],5.238664,1.453744,11.888726,None,2024-02-29T16:06:41.017+01:00,1995,1995-01-01T00:00:00+01:00,1995-12-31T00:00:00+01:00
3,677,NCD_BMI_PLUS2C,COUNTRY,ATG,AMR,YEAR,Americas,SEX,SEX_FMLE,1997,...,None,11.4 [5.2-19.7],11.394685,5.245102,19.662055,None,2024-02-29T16:06:41.017+01:00,1997,1997-01-01T00:00:00+01:00,1997-12-31T00:00:00+01:00
4,698,NCD_BMI_PLUS2C,COUNTRY,TKL,WPR,YEAR,Western Pacific,SEX,SEX_FMLE,2011,...,None,19.8 [11.9-29.1],19.772653,11.851243,29.142946,None,2024-02-29T16:06:41.017+01:00,2011,2011-01-01T00:00:00+01:00,2011-12-31T00:00:00+01:00

In [ ]:
df_child_obese['age_group']='child'
df_child_obese

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,178,NCD_BMI_PLUS2C,COUNTRY,URY,AMR,YEAR,Americas,SEX,SEX_BTSX,2014,...,16.6 [14.1-19.3],16.599445,14.139628,19.260336,None,2024-02-29T16:06:41.017+01:00,2014,2014-01-01T00:00:00+01:00,2014-12-31T00:00:00+01:00,child
1,564,NCD_BMI_PLUS2C,COUNTRY,AND,EUR,YEAR,Europe,SEX,SEX_MLE,1993,...,6.6 [1.7-15.5],6.573471,1.651655,15.450512,None,2024-02-29T16:06:41.017+01:00,1993,1993-01-01T00:00:00+01:00,1993-12-31T00:00:00+01:00,child
2,588,NCD_BMI_PLUS2C,COUNTRY,DOM,AMR,YEAR,Americas,SEX,SEX_FMLE,1995,...,5.2 [1.5-11.9],5.238664,1.453744,11.888726,None,2024-02-29T16:06:41.017+01:00,1995,1995-01-01T00:00:00+01:00,1995-12-31T00:00:00+01:00,child
3,677,NCD_BMI_PLUS2C,COUNTRY,ATG,AMR,YEAR,Americas,SEX,SEX_FMLE,1997,...,11.4 [5.2-19.7],11.394685,5.245102,19.662055,None,2024-02-29T16:06:41.017+01:00,1997,1997-01-01T00:00:00+01:00,1997-12-31T00:00:00+01:00,child
4,698,NCD_BMI_PLUS2C,COUNTRY,TKL,WPR,YEAR,Western Pacific,SEX,SEX_FMLE,2011,...,19.8 [11.9-29.1],19.772653,11.851243,29.142946,None,2024-02-29T16:06:41.017+01:00,2011,2011-01-01T00:00:00+01:00,2011-12-31T00:00:00+01:00,child
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62365,10281147,NCD_BMI_PLUS2C,COUNTRY,BEL,EUR,YEAR,Europe,SEX,SEX_BTSX,1997,...,5.1 [3.4-7.0],5.051485,3.437404,7.006245,None,2024-02-29T16:06:41.017+01:00,1997,1997-01-01T00:00:00+01:00,1997-12-31T00:00:00+01:00,child
62366,10281389,NCD_BMI_PLUS2C,COUNTRY,SDN,EMR,YEAR,Eastern Mediterranean,SEX,SEX_BTSX,2006,...,1.7 [0.7-3.4],1.715090,0.693640,3.385158,None,2024-02-29T16:06:41.017+01:00,2006,2006-01-01T00:00:00+01:00,2006-12-31T00:00:00+01:00,child
62367,10281751,NCD_BMI_PLUS2C,COUNTRY,CPV,AFR,YEAR,Africa,SEX,SEX_BTSX,2000,...,1.8 [0.4-5.0],1.842421,0.359353,5.004200,None,2024-02-29T16:06:41.017+01:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00,child
62368,10281785,NCD_BMI_PLUS2C,COUNTRY,STP,AFR,YEAR,Africa,SEX,SEX_MLE,2005,...,4.7 [0.9-12.3],4.681022,0.928813,12.270057,None,2024-02-29T16:06:41.017+01:00,2005,2005-01-01T00:00:00+01:00,2005-12-31T00:00:00+01:00,child
62369,10282019,NCD_BMI_PLUS2C,COUNTRY,BGD,SEAR,YEAR,South-East Asia,SEX,SEX_MLE,2006,...,0.8 [0.1-2.2],0.761684,0.145416,2.187117,None,2024-02-29T16:06:41.017+01:00,2006,2006-01-01T00:00:00+01:00,2006-12-31T00:00:00+01:00,child

In [ ]:
df_obesity=pd.concat([df,df_child_obese])
df_obesity

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,Dim1,TimeDim,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,272,NCD_BMI_30C,COUNTRY,KHM,YEAR,WPR,Western Pacific,SEX,SEX_BTSX,2001,...,1.0 [0.8-1.3],0.981696,0.756741,1.274868,None,2024-02-29T16:06:41.017+01:00,2001,2001-01-01T00:00:00+01:00,2001-12-31T00:00:00+01:00,adult
1,371,NCD_BMI_30C,COUNTRY,IRN,YEAR,EMR,Eastern Mediterranean,SEX,SEX_MLE,2020,...,17.5 [15.8-19.2],17.487641,15.793777,19.245727,None,2024-02-29T16:06:41.017+01:00,2020,2020-01-01T00:00:00+01:00,2020-12-31T00:00:00+01:00,adult
2,854,NCD_BMI_30C,COUNTRY,TJK,YEAR,EUR,Europe,SEX,SEX_FMLE,1995,...,7.9 [5.8-10.4],7.904842,5.783271,10.387149,None,2024-02-29T16:06:41.017+01:00,1995,1995-01-01T00:00:00+01:00,1995-12-31T00:00:00+01:00,adult
3,1110,NCD_BMI_30C,COUNTRY,WSM,YEAR,WPR,Western Pacific,SEX,SEX_BTSX,2003,...,46.6 [44.6-48.7],46.623287,44.616863,48.697469,None,2024-02-29T16:06:41.017+01:00,2003,2003-01-01T00:00:00+01:00,2003-12-31T00:00:00+01:00,adult
4,1264,NCD_BMI_30C,COUNTRY,NIU,YEAR,WPR,Western Pacific,SEX,SEX_BTSX,2000,...,54.6 [49.4-59.8],54.643196,49.435765,59.770763,None,2024-02-29T16:06:41.017+01:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62365,10281147,NCD_BMI_PLUS2C,COUNTRY,BEL,YEAR,EUR,Europe,SEX,SEX_BTSX,1997,...,5.1 [3.4-7.0],5.051485,3.437404,7.006245,None,2024-02-29T16:06:41.017+01:00,1997,1997-01-01T00:00:00+01:00,1997-12-31T00:00:00+01:00,child
62366,10281389,NCD_BMI_PLUS2C,COUNTRY,SDN,YEAR,EMR,Eastern Mediterranean,SEX,SEX_BTSX,2006,...,1.7 [0.7-3.4],1.715090,0.693640,3.385158,None,2024-02-29T16:06:41.017+01:00,2006,2006-01-01T00:00:00+01:00,2006-12-31T00:00:00+01:00,child
62367,10281751,NCD_BMI_PLUS2C,COUNTRY,CPV,YEAR,AFR,Africa,SEX,SEX_BTSX,2000,...,1.8 [0.4-5.0],1.842421,0.359353,5.004200,None,2024-02-29T16:06:41.017+01:00,2000,2000-01-01T00:00:00+01:00,2000-12-31T00:00:00+01:00,child
62368,10281785,NCD_BMI_PLUS2C,COUNTRY,STP,YEAR,AFR,Africa,SEX,SEX_MLE,2005,...,4.7 [0.9-12.3],4.681022,0.928813,12.270057,None,2024-02-29T16:06:41.017+01:00,2005,2005-01-01T00:00:00+01:00,2005-12-31T00:00:00+01:00,child
62369,10282019,NCD_BMI_PLUS2C,COUNTRY,BGD,YEAR,SEAR,South-East Asia,SEX,SEX_MLE,2006,...,0.8 [0.1-2.2],0.761684,0.145416,2.187117,None,2024-02-29T16:06:41.017+01:00,2006,2006-01-01T00:00:00+01:00,2006-12-31T00:00:00+01:00,child

# **ADULT MALNUTRITION**

In [ ]:
#adult malnutrition
import requests
url = "https://ghoapi.azureedge.net/api/NCD_BMI_18C"
result = requests.get(url)
data_3=result.json()

In [ ]:
import pandas as pd
df_adult_mal=pd.DataFrame(data_3['value'])
df_adult_mal.head()

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,55,NCD_BMI_18C,COUNTRY,GAB,AFR,YEAR,Africa,SEX,SEX_FMLE,2021,...,None,5.8 [4.0-8.1],5.795110,3.972036,8.077021,None,2024-02-29T16:06:41.017+01:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00
1,431,NCD_BMI_18C,COUNTRY,TUV,WPR,YEAR,Western Pacific,SEX,SEX_BTSX,2001,...,None,0.9 [0.4-1.9],0.936569,0.365154,1.859289,None,2024-02-29T16:06:41.017+01:00,2001,2001-01-01T00:00:00+01:00,2001-12-31T00:00:00+01:00
2,1710,NCD_BMI_18C,COUNTRY,GHA,AFR,YEAR,Africa,SEX,SEX_MLE,2002,...,None,13.2 [10.0-16.7],13.204283,10.048541,16.712034,None,2024-02-29T16:06:41.017+01:00,2002,2002-01-01T00:00:00+01:00,2002-12-31T00:00:00+01:00
3,2093,NCD_BMI_18C,COUNTRY,TCD,AFR,YEAR,Africa,SEX,SEX_BTSX,1990,...,None,23.2 [17.8-29.0],23.201345,17.808078,28.990203,None,2024-02-29T16:06:41.017+01:00,1990,1990-01-01T00:00:00+01:00,1990-12-31T00:00:00+01:00
4,2295,NCD_BMI_18C,COUNTRY,MNG,WPR,YEAR,Western Pacific,SEX,SEX_BTSX,2017,...,None,3.1 [2.4-3.8],3.090652,2.428230,3.842155,None,2024-02-29T16:06:41.017+01:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00

In [ ]:
df_adult_mal['age_group']='adult'

# **CHILD MALNUTRITION**

In [ ]:
import requests
url = "https://ghoapi.azureedge.net/api/NCD_BMI_MINUS2C"
result = requests.get(url)
data_4=result.json()

In [ ]:
import pandas as pd
df_child_mal=pd.DataFrame(data_4['value'])
df_child_mal.head()

,Id,IndicatorCode,SpatialDimType,SpatialDim,TimeDimType,ParentLocationCode,ParentLocation,Dim1Type,Dim1,TimeDim,...,DataSourceDim,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd
0,28,NCD_BMI_MINUS2C,COUNTRY,AUT,YEAR,EUR,Europe,SEX,SEX_FMLE,2009,...,None,2.1 [1.5-2.8],2.097914,1.511958,2.814735,None,2024-02-29T16:06:41.017+01:00,2009,2009-01-01T00:00:00+01:00,2009-12-31T00:00:00+01:00
1,35,NCD_BMI_MINUS2C,COUNTRY,FIN,YEAR,EUR,Europe,SEX,SEX_BTSX,2004,...,None,1.5 [1.0-2.2],1.498350,0.964472,2.201598,None,2024-02-29T16:06:41.017+01:00,2004,2004-01-01T00:00:00+01:00,2004-12-31T00:00:00+01:00
2,46,NCD_BMI_MINUS2C,COUNTRY,ASM,YEAR,WPR,Western Pacific,SEX,SEX_MLE,2009,...,None,0.8 [0.1-2.6],0.845614,0.131378,2.593453,None,2024-02-29T16:06:41.017+01:00,2009,2009-01-01T00:00:00+01:00,2009-12-31T00:00:00+01:00
3,151,NCD_BMI_MINUS2C,COUNTRY,SUR,YEAR,AMR,Americas,SEX,SEX_FMLE,2010,...,None,4.9 [1.3-11.3],4.893107,1.328320,11.343975,None,2024-02-29T16:06:41.017+01:00,2010,2010-01-01T00:00:00+01:00,2010-12-31T00:00:00+01:00
4,350,NCD_BMI_MINUS2C,COUNTRY,BRA,YEAR,AMR,Americas,SEX,SEX_MLE,2010,...,None,2.7 [2.4-3.2],2.739474,2.352422,3.157229,None,2024-02-29T16:06:41.017+01:00,2010,2010-01-01T00:00:00+01:00,2010-12-31T00:00:00+01:00

In [ ]:
df_child_mal['age_group']='child'

In [ ]:
df_mal=pd.concat([df_adult_mal,df_child_mal])
df_mal

,Id,IndicatorCode,SpatialDimType,SpatialDim,ParentLocationCode,TimeDimType,ParentLocation,Dim1Type,Dim1,TimeDim,...,Value,NumericValue,Low,High,Comments,Date,TimeDimensionValue,TimeDimensionBegin,TimeDimensionEnd,age_group
0,55,NCD_BMI_18C,COUNTRY,GAB,AFR,YEAR,Africa,SEX,SEX_FMLE,2021,...,5.8 [4.0-8.1],5.795110,3.972036,8.077021,None,2024-02-29T16:06:41.017+01:00,2021,2021-01-01T00:00:00+01:00,2021-12-31T00:00:00+01:00,adult
1,431,NCD_BMI_18C,COUNTRY,TUV,WPR,YEAR,Western Pacific,SEX,SEX_BTSX,2001,...,0.9 [0.4-1.9],0.936569,0.365154,1.859289,None,2024-02-29T16:06:41.017+01:00,2001,2001-01-01T00:00:00+01:00,2001-12-31T00:00:00+01:00,adult
2,1710,NCD_BMI_18C,COUNTRY,GHA,AFR,YEAR,Africa,SEX,SEX_MLE,2002,...,13.2 [10.0-16.7],13.204283,10.048541,16.712034,None,2024-02-29T16:06:41.017+01:00,2002,2002-01-01T00:00:00+01:00,2002-12-31T00:00:00+01:00,adult
3,2093,NCD_BMI_18C,COUNTRY,TCD,AFR,YEAR,Africa,SEX,SEX_BTSX,1990,...,23.2 [17.8-29.0],23.201345,17.808078,28.990203,None,2024-02-29T16:06:41.017+01:00,1990,1990-01-01T00:00:00+01:00,1990-12-31T00:00:00+01:00,adult
4,2295,NCD_BMI_18C,COUNTRY,MNG,WPR,YEAR,Western Pacific,SEX,SEX_BTSX,2017,...,3.1 [2.4-3.8],3.090652,2.428230,3.842155,None,2024-02-29T16:06:41.017+01:00,2017,2017-01-01T00:00:00+01:00,2017-12-31T00:00:00+01:00,adult
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62365,10280466,NCD_BMI_MINUS2C,COUNTRY,PNG,WPR,YEAR,Western Pacific,SEX,SEX_FMLE,2009,...,1.1 [0.1-4.0],1.116856,0.105497,3.961886,None,2024-02-29T16:06:41.017+01:00,2009,2009-01-01T00:00:00+01:00,2009-12-31T00:00:00+01:00,child
62366,10280792,NCD_BMI_MINUS2C,COUNTRY,WSM,WPR,YEAR,Western Pacific,SEX,SEX_FMLE,2020,...,0.7 [0.1-2.8],0.734066,0.064152,2.810176,None,2024-02-29T16:06:41.017+01:00,2020,2020-01-01T00:00:00+01:00,2020-12-31T00:00:00+01:00,child
62367,10281742,NCD_BMI_MINUS2C,COUNTRY,IDN,WPR,YEAR,Western Pacific,SEX,SEX_MLE,1999,...,13.3 [11.3-15.3],13.282701,11.349835,15.325613,None,2024-02-29T16:06:41.017+01:00,1999,1999-01-01T00:00:00+01:00,1999-12-31T00:00:00+01:00,child
62368,10281812,NCD_BMI_MINUS2C,COUNTRY,MWI,AFR,YEAR,Africa,SEX,SEX_FMLE,2003,...,3.8 [2.7-5.1],3.765250,2.651266,5.067817,None,2024-02-29T16:06:41.017+01:00,2003,2003-01-01T00:00:00+01:00,2003-12-31T00:00:00+01:00,child
62369,10281934,NCD_BMI_MINUS2C,COUNTRY,ISL,EUR,YEAR,Europe,SEX,SEX_MLE,2018,...,2.5 [0.5-7.3],2.542785,0.465171,7.307483,None,2024-02-29T16:06:41.017+01:00,2018,2018-01-01T00:00:00+01:00,2018-12-31T00:00:00+01:00,child

# **RECORDS BETWEEN 2012 TO 2022**

In [ ]:
df_obesity=df_obesity[df_obesity['TimeDim'].between(2012, 2022)]
df_obesity['TimeDim'].value_counts(ascending=True)

TimeDim
2020    2520
2014    2520
2019    2520
2018    2520
2021    2520
2015    2520
2017    2520
2016    2520
2012    2520
2013    2520
2022    2520
Name: count, dtype: int64

In [ ]:
df_mal=df_mal[df_mal['TimeDim'].between(2012,2022)]
df_mal['TimeDim'].value_counts(ascending=True)

TimeDim
2021    2520
2017    2520
2016    2520
2014    2520
2020    2520
2012    2520
2019    2520
2018    2520
2022    2520
2013    2520
2015    2520
Name: count, dtype: int64

# **FILTERING ADEQUATE COLUMNS**

In [ ]:
df_obesity=df_obesity[['ParentLocation',
'Dim1',
'TimeDim',
'Low',
'High',
'NumericValue',
'SpatialDim',
'age_group'
]]

In [ ]:
df_mal=df_mal[['ParentLocation',
'Dim1',
'TimeDim',
'Low',
'High',
'NumericValue',
'SpatialDim',
'age_group'
]]

# **RENAMING COLUMNS**

In [ ]:
df_mal=df_mal.rename(columns={'TimeDim': 'Year', 'Dim1': 'Gender','NumericValue':'Mean_Estimate','Low':'LowerBound',
                           'High':'UpperBound','ParentLocation':'Region','SpatialDim':'Country'})

In [ ]:
df_obesity=df_obesity.rename(columns={'TimeDim': 'Year', 'Dim1': 'Gender','NumericValue':'Mean_Estimate','Low':'LowerBound',
                           'High':'UpperBound','ParentLocation':'Region','SpatialDim':'Country'})

In [ ]:
df_obesity['Gender'] = df_obesity['Gender'].replace({'SEX_FMLE': 'Female', 'SEX_BTSX': 'Both', 'SEX_MLE': 'Male'})

In [ ]:
df_mal['Gender']=df_mal['Gender'].replace({'SEX_FMLE': 'Female', 'SEX_BTSX': 'Both', 'SEX_MLE': 'Male'})

# **COUNTRY CODES INTO FULLNAME**

In [ ]:
!pip install pycountry

Collecting pycountry
  Downloading pycountry-26.2.16-py3-none-any.whl.metadata (12 kB)
Downloading pycountry-26.2.16-py3-none-any.whl (8.0 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.0/8.0 MB 55.0 MB/s eta 0:00:00
Installing collected packages: pycountry
Successfully installed pycountry-26.2.16

In [ ]:
import pycountry
special_cases = {
    'GLOBAL': 'Global',
    'WB_LMI': 'Low & Middle Income',
    'WB_HI': 'High Income',
    'WB_LI': 'Low Income',
    'EMR': 'Eastern Mediterranean Region',
    'EUR': 'Europe',
    'AFR': 'Africa',
    'SEAR': 'South-East Asia Region',
    'WPR': 'Western Pacific Region',
    'AMR': 'Americas Region',
    'WB_UMI': 'Upper Middle Income'
}
def get_country_full_name(code):
    if code in special_cases:
        return special_cases[code]
    country = pycountry.countries.get(alpha_3=code)
    if country:
        return country.name
    else:
        return None
df_mal['Country_name'] = df_mal['Country'].apply(get_country_full_name)
df_obesity['Country_name'] = df_obesity['Country'].apply(get_country_full_name)

In [ ]:
df_obesity['CI_Width'] = df_obesity['UpperBound'] - df_obesity['LowerBound']

In [ ]:
df_mal['CI_Width'] = df_mal['UpperBound'] - df_mal['LowerBound']

In [ ]:
def categorize_obesity(Mean_Estimate):
  if Mean_Estimate >= 30:
    return 'High'
  elif 25 >= Mean_Estimate <= 29.9:
    return 'Moderate'
  else:
    return 'Low'
df_obesity['obesity_level']=df_obesity['Mean_Estimate'].apply(categorize_obesity)

In [ ]:
df_mal['Mean_Estimate'].value_counts()

Mean_Estimate
6.423092     2
2.991529     2
1.579458     2
3.538246     2
14.599198    2
            ..
2.182423     1
8.849802     1
6.644604     1
3.683583     1
3.988964     1
Name: count, Length: 27706, dtype: int64

In [ ]:
def categorize_malnut(Mean_Estimate):
  if Mean_Estimate >= 20:
    return 'High'
  elif 10 >= Mean_Estimate <= 19.9:
    return 'Moderate'
  else:
    return 'Low'
df_mal['Malnutrition_level']=df_mal['Mean_Estimate'].apply(categorize_malnut)

In [ ]:
df_mal.columns

Index(['Region', 'Gender', 'Year', 'LowerBound', 'UpperBound', 'Mean_Estimate',
       'Country', 'age_group', 'Country_name', 'CI_Width',
       'Malnutrition_level'],
      dtype='object')

In [ ]:
df_mal.drop(['Country'],axis=1,inplace=True)

In [ ]:
df_obesity.drop(['Country'],axis=1,inplace=True)

In [ ]:
#renaming Country_name
df_mal=df_mal.rename(columns={'Country_name': 'Country'})
df_obesity=df_obesity.rename(columns={'Country_name':'Country'})

# **SQL** **CONNECTION**

In [ ]:
import pandas as pd

In [ ]:
print(df_mal.shape)
print(df_obesity.shape)

(27720, 10)
(27720, 10)

# **CHECKING FOR NULL VALUES**

In [ ]:
df_mal.isnull().sum()

Region                1452
Gender                   0
Year                     0
LowerBound               0
UpperBound               0
Mean_Estimate            0
age_group                0
Country                  0
CI_Width                 0
Malnutrition_level       0
dtype: int64

In [ ]:
df_obesity.isnull().sum()

Region           1452
Gender              0
Year                0
LowerBound          0
UpperBound          0
Mean_Estimate       0
age_group           0
Country             0
CI_Width            0
obesity_level       0
dtype: int64

In [ ]:
df_mal.describe()

               Year    LowerBound    UpperBound  Mean_Estimate      CI_Width
count  27720.000000  27720.000000  27720.000000   27720.000000  27720.000000
mean    2017.000000      3.397094      8.147889       5.354451      4.750795
std        3.162335      3.908061      6.443692       4.811220      4.257683
min     2012.000000      0.023703      0.354833       0.175309      0.166679
25%     2014.000000      1.053666      3.143307       2.039278      1.603222
50%     2017.000000      1.907971      6.095557       3.597794      3.351093
75%     2020.000000      4.186440     11.526301       7.335245      6.530869
max     2022.000000     31.365401     43.680286      35.894114     26.701744

In [ ]:
df_obesity.describe()

               Year    LowerBound    UpperBound  Mean_Estimate      CI_Width
count  27720.000000  27720.000000  27720.000000   27720.000000  27720.000000
mean    2017.000000      9.393155     17.068488      12.761040      7.675334
std        3.162335      9.893854     12.395013      10.858925      6.616899
min     2012.000000      0.077541      0.547848       0.265672      0.216695
25%     2014.000000      2.354433      7.875503       4.753964      2.926708
50%     2017.000000      6.506534     13.704382       9.944541      5.480536
75%     2020.000000     12.697752     23.986050      17.482417     10.338880
max     2022.000000     74.365371     87.868512      80.609250     40.554062

# **FILLING NULLVALUES WITH SPECIAL CASES**

In [ ]:
df_mal['Region'] = df_mal['Region'].fillna('Special case')
df_obesity['Region'] = df_obesity['Region'].fillna('Special case')

In [ ]:
null_region_rows = df_mal[df_mal['Region'] == 'Special case']
null_region_rows

,Region,Gender,Year,LowerBound,UpperBound,Mean_Estimate,age_group,Country,CI_Width,Malnutrition_level
7,Special case,Both,2021,12.242323,14.442866,13.336353,adult,South-East Asia Region,2.200543,Low
47,Special case,Both,2017,14.133340,15.932868,15.019259,adult,Low Income,1.799528,Low
82,Special case,Male,2022,10.757288,14.521302,12.599573,adult,South-East Asia Region,3.764014,Low
98,Special case,Both,2012,14.959377,16.639748,15.779784,adult,Low Income,1.680371,Low
269,Special case,Male,2018,11.748413,13.960633,12.832575,adult,Africa,2.212220,Low
...,...,...,...,...,...,...,...,...,...,...
62083,Special case,Both,2019,4.472628,5.476760,4.947923,child,Western Pacific Region,1.004132,Moderate
62110,Special case,Female,2014,8.120230,10.253397,9.158864,child,Eastern Mediterranean Region,2.133167,Moderate
62135,Special case,Both,2015,2.020920,2.258328,2.137077,child,High Income,0.237409,Moderate
62301,Special case,Both,2020,5.992880,8.787237,7.284579,child,Low Income,2.794357,Moderate
62353,Special case,Both,2020,9.940405,12.504472,11.198985,child,Eastern Mediterranean Region,2.564067,Low